* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  text-align: center;
}

img {
  border: 2px solid black;
  width: auto;
  margin: 10px;
  height: 150px;
}

.hidden {
  display: none;
}

/* NavBar */
.nav-list {
  background-color: aqua;
  position: absolute;
  top: 540px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 6px;
  border: 2px solid black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-list-item {
  cursor: pointer;
  background-color: blanchedalmond;
  border: 1px solid red;
  padding: 3px;
}

/* Goals */
.container {
  border: 2px solid black;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goal-container {
  border: 2px solid black;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goal-btn {
  width: 60px;
  margin: 0 auto;
}

.progress {
  border: 3px solid green;
  margin: 0 5px;
}
